#mainDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    top:0;
    left: 0;

    width: 420vh;

    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);

    transition: transform 80ms;

    /*transform: translate3d(-50%, -50%, 0);*/
}

.city{
    display: none;
    position: relative;
    width: 200vh;
    height: 200vh;
}

#myCity{
    display: inline-block;
}

.gameGrid {
    width: 200vh;
    height: 200vh;

    display: grid;
    
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    /*border: solid;
    border-color: white;*/
}

#mainGrid{
    grid-gap: var(--grid-gap);
}

#planGrid {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    opacity: 0.5;

    z-index: 5;
}

/*.buildingGrid{
    position: absolute;
    top: 0;
    left: 0;
}*/

.grid-item {
    position: relative;    
    text-align: center;        
}


#mainGrid .cellBorder {
    position: absolute;
    width: calc(100% - var(--grid-gap));
    height: calc(100% - var(--grid-gap));    
    z-index: 2;

    opacity: 0.1;

    border: 1px solid rgba(221, 221, 221);
    /*transition: border 0.2s;*/
}

#mainGrid .cellBorder:hover {
    opacity: 0.5;
}

#mainGrid .grid-item img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
    transform: translate(calc(-0.5 * var(--grid-gap)), calc(-0.5 * var(--grid-gap)));

    width: calc(100% + var(--grid-gap));
    height: calc(100% + var(--grid-gap));

    image-rendering: pixelated;
}

#planGrid img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}