:root {
    --pageBackgroundColor: rgb(15, 15, 15);
    --opaqueBGColor: rgba(0, 0, 0, 0.6);
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-gap: 0.3vh;
}

@font-face {
    font-family: 'VT323';
    src: url('../font/VT323-Regular.eot');
    src: url('../font/VT323-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/VT323-Regular.woff2') format('woff2'),
        url('../font/VT323-Regular.woff') format('woff'),
        url('../font/VT323-Regular.ttf') format('truetype'),
        url('../font/VT323-Regular.svg#VT323-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}


body {
    height: 100vh;
    width: 100vw;

    font-family: 'VT323', monospace;

    overflow: hidden;
    background-color: var(--pageBackgroundColor);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    position: fixed;
    width: 100%;
    background-color: var(--opaqueBGColor);

    color: white;
    font-size: 30pt;
    font-weight: normal;
    padding: 0.5em;

    cursor: default;

    z-index: 5000;
}

nav {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding: 0.5em;

    position: fixed;
    right: 0;
    z-index: 5001;

    font-size: 30pt;
}

nav img {
    height: 0.9em;
    image-rendering: pixelated;
    margin-left: 0.5em;
    filter: invert(0.5);

    cursor: pointer;
}

nav img:hover {
    filter: invert(0);
}


#versionWarn {
    position: fixed;
    bottom: 6vh;
    margin: 1ex;

    color: white;
    font-size: 24pt;
}

#game {
    display: none;
    opacity: 0;
    transition: opacity 2s;
    background-color: var(--pageBackgroundColor);
}

.backStrip {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    background-color: rgba(255, 255, 255, 0.295);
    height: 100%;

    transition: width 0.2s;
}

ul li:hover .backStrip {
    width: 100%;
}