#mainDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    top:0;
    left: 0;

    width: 420vh;

    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);

    /*transition: transform 500ms;*/

    /*transform: translate3d(-50%, -50%, 0);*/
}

.city{
    display: none;
    position: relative;
    width: 200vh;
    height: 200vh;
}

#myCity{
    display: inline-block;
}

.gameGrid {
    width: 200vh;
    height: 200vh;

    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);

    /*border: solid;
    border-color: white;*/
}

.buildingGrid{
    position: absolute;
    top: 0;
    left: 0;
}

.grid-item {
    position: relative;    
    text-align: center;    
}


.buildingGrid .grid-item {
    border: 1px solid rgba(221, 221, 221, 0.1);
    /*transition: border 0.2s;*/
}

.buildingGrid .grid-item:hover {
    border: 1px solid rgba(221, 221, 221, 0.5);
}

.grid-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2 * var(--grid-gap));
    height: calc(100% + 2* var(--grid-gap));

    image-rendering: pixelated;
}