#mainStats {
    position: fixed;
    right: 0;
    top: 30%;

    width: 8em;
    padding: 1em;

    color: white;
    font-size: 14pt;

    background-color: var(--opaqueBGColor);
    /*border-radius: 1ex 0 0 1ex;*/
}

.mainStatRow {
    padding-top: 1ex;
    padding-bottom: 1ex;
}

#mainStat-demands {
    position: relative;

    height: 8em;
    width: 100%;
    padding: 0;

    border: solid;
    border-width: 1pt;
    border-color: white;
}

#mainStat-demands-centerline {
    position: absolute;
    left: 0;

    height: 1pt;
    width: 100%;

    top: calc(50% - 1pt);
    transform: translate(0, 50%);

    background-color: white;
}


#mainStat-demands-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.barContainer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 25%;
    height: calc(100% - 2 * 2pt);
}

.bigContainer{
    width: 30%;
}

.subBarContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.mainStatDemandBar {
    position: absolute;

    border: solid;
    border-width: 2pt;
    width: 80%;

    opacity: 0.8;
}

.smallDemandBar {
    position: absolute;
    width: calc(100% - 2pt);
}

#mainStat-demands-bar-r {
    height: 30%;
    bottom: calc(50% - 2pt);
    background-color: rgba(0, 255, 0, 0.5);
    border-color: rgba(0, 255, 0, 1);
}

.mainStat-demands-bar-c {
    height: 0;
    bottom: calc(50% - 3pt);
    background-color: rgba(0, 109, 252, 0.5);
    border-color: rgba(0, 109, 252, 1);
}

#mainStat-demands-bar-i {
    height: 23%;
    top: calc(50% + 2pt);
    background-color: rgb(255, 136, 1, 0.5);
    border-color: rgba(255, 136, 1, 1);
}

.barInfo{
    display: none;
    position: absolute;
    width: max-content;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 1;
}

.mainStatDemandBar:hover{
    opacity: 1;
}

.subBarContainer:hover .barInfo{
    display: block;
}