#titleScreen{
    color: white;
    display: none;
}

#mainMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#titleScreen h1{
    position: relative;
    font-size: 72pt;
    letter-spacing: 6pt;
    font-weight: normal;
    margin-bottom: 1ex;
    cursor: default;
}

#h1Shadow{
    position: absolute;    
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0); 
    z-index: -1;

    font-size: 71.8pt;
    color: rgba(46, 46, 46, 0.8);
    filter: blur(5pt);
}

.menuOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style: none;
}

.menuOptions .menuOption{
    width: 6em;
}

.menuOption{
    position: relative;    
    font-size: 22pt;
    width: 3em;
    text-align: center;
    margin-top: 6pt;
    cursor: pointer;
    padding: 0.5ex;
}

.menuOption:hover{
    cursor: pointer;
}

.menuOption:hover .backStrip{
    width: 100%;
}


.mainMenuInfo{
    position: fixed;
    bottom: 1em;    
    font-size: 24pt;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 2pt 10pt;
}

.mainMenuInfo div{
    margin: 1ex;
}

#maker{
    left: 2em;
}
#version{
    right: 2em;
}

#mainMenuAccountButtons{
    position: fixed;
    top: calc(1em - 0.5ex);
    left: calc(2em - 0.5ex);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    font-size: 20pt;
    color: rgb(255, 255, 255);
}

#mainMenuAccountButtons .mainMenuAccountButton{
    position: relative;
    cursor: pointer;
    padding: 0.5ex;
}

#mainMenuAccountButtons .mainMenuAccountButton:hover .backStrip{
    width: 100%;
}

#titleScreenBG{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}